.si {
  height: 30rem;
  display: flex;
  justify-content: space-between;

  & .library {
    height: 130%;
    flex: 0 1 48%;
  }

  .quill {
    height: inherit;
    flex: 0 1 48%;
    & > div:nth-child(2) {
      & > div:first-child {
        // height: 100%;
      }
    }
  }
}
