.table {
  & .actions {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > button {
      font-weight: bold;
      width: 10rem;
    }
  }

  & .circular-status {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: red;
  }
}
