.image {
  display: flex;
  gap: 1rem;

  & .image-area {
    height: 150px;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .inputs {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-evenly;
  }

  & .scale-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
