.top-bar {
  margin: 2rem 0;
}

.studio {
  display: flex;
  gap: 2rem;

  & .thumbnails {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    flex: 0 1 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & img {
      cursor: pointer;
    }
  }

  & .editor {
    flex: 1;
    // border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: hidden;

    & > div:nth-child(2) {
      & > div:not(:first-child) {
        &:hover {
          & > div {
            display: block;
          }
          & {
            border: 2px solid green !important;
          }
        }
        & > div {
          display: none;
        }
      }
    }

    & > div:nth-child(2) {
      & > div:first-child {
        overflow: scroll;
      }
    }
  }

  & .actions {
    flex: 0 1 20%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.submit-box {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
